:root {
  --main-font: "Montserrat", sans-serif;
  --logo-font: "Noto Sans", sans-serif;
  --font-size: 15px;
  --line-height: 1.47;
  --white-color: #fff;
  --black-color: #000;
  --hover-color: #919ed8;
  --light-color: #f2f2f3;
  --text-color: #0d0d0d;
  --background-color: #242428;
}
