.empty-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-inline-size: 450px;
  margin-inline: auto;
  text-align: center;

  > *:last-child {
    margin-block-end: 0;
  }

  // .empty-board__image
  &__image {
    flex: 0 0 auto;
    margin-block-end: 24px;
    inline-size: 316px;
    aspect-ratio: 316 / 288;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .empty-board__title
  &__title {
    margin-block-end: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: #242428;
  }

  // .empty-board__text
  &__text {
    margin-block-end: 24px;
    color: #5f616b;
  }

  // .empty-board__button
  &__button {
  }
}
