@use "/src/scss/mixins/mixins";
@use "/src/scss/variables/variables";

.vacancies {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  gap: 16px;

  // .vacancies__item
  &__item {
  }
}

.vacancy-card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
  block-size: 100%;
  min-block-size: 238px;
  padding: 24px;
  background-color: var(--vacancy-card-background-color, #{variables.$color-white});
  border-radius: 16px;

  // .vacancy-card--dark
  &--dark {
    --vacancy-card-background-color: #323339;
    --vacancy-card-title-color: #{variables.$color-white};
    --vacancy-card-text-color: #f2f2f3;
    --vacancy-card-message-background-color: #{variables.$color-background};
    --badge-outline-color: #{variables.$color-light};
    --time-color: #cacbd0;
  }

  // .vacancy-card__inner
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    inline-size: 100%;
  }

  // .vacancy-card__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 60px;
  }

  // .vacancy-card__title
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: var(--vacancy-card-title-color, #{variables.$color-background});

    a {
      @include mixins.prefers-reduced-motion {
        transition-property: color;
        transition-duration: 0.3s;
      }

      @include mixins.hover {
        color: variables.$color-hover;
      }
    }
  }

  // .vacancy-card__count
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 24px;
    padding-block: 4px;
    padding-inline: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.23;
    color: #5f616b;
    background-color: #f2f2f3;
    border-radius: 8px;
  }

  // .vacancy-card__text
  &__text {
    max-inline-size: 225px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.38;
    color: var(--vacancy-card-text-color, #5f616b);

    // .vacancy-card__text--message
    &--message {
      position: relative;
      isolation: isolate;
      margin-inline-start: -4px;
      padding-block: 10px;
      padding-inline: 16px;
      background-color: var(--vacancy-card-message-background-color, #f7f7f8);
      border-radius: 12px;

      &::after {
        content: "";
        position: absolute;
        inset-block-start: 15px;
        inset-inline-start: -6px;
        z-index: -1;
        border-block: 7.5px solid transparent;
        border-inline-end: 8px solid var(--vacancy-card-message-background-color, #f7f7f8);
        pointer-events: none;
      }
    }
  }

  // .vacancy-card__bottom
  &__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  // .vacancy-card__image
  &__image {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    z-index: -1;
    inline-size: 96px;
    aspect-ratio: 96 / 202;
    font-size: 0;
    pointer-events: none;
  }
}
