$color-white: var(--white-color);
$color-black: var(--black-color);
$color-text: var(--text-color);
$color-background: var(--background-color);
$color-hover: var(--hover-color);
$color-light: var(--light-color);
